<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiseven.diycode">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".app.DiyCodeApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.LoginActivity"/>
        <activity android:name=".ui.activity.MyInfoActivity" />
        <activity
            android:name=".ui.activity.WebActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".ui.activity.MyTopicActivity" />
        <activity android:name=".ui.activity.MyFavoriteActivity" />
        <activity android:name=".ui.activity.MyRepliesActivity" />
        <activity android:name=".ui.activity.MyFollowActivity" />
        <activity android:name=".ui.activity.AboutActivity" />
        <activity android:name=".ui.activity.SettingsActivity" />
        <activity android:name=".ui.activity.UserInfoActivity" />
        <activity android:name=".ui.activity.ProjectActivity"
            android:theme="@style/AppTheme.NoActionBar.Transitions"/>
        <activity android:name=".ui.activity.TopicInfoActivity" />
        <activity android:name=".ui.activity.NodeActivity" />

    </application>

</manifest>